body{
    background-color:#8ABFA3;
}
.heading{
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
}
.product-container{
    display:flex;
    flex-wrap: wrap;
    margin-top: 70px;
}
.product-card{
    height: 400px;
    width: 400px;
    margin: 30px auto;
    display: block;
    justify-content: space-evenly;
    border: 5px double #664900;
    background-color:#FFE6A5;
    border-radius: 20px 20px 0 0;

}
.product-img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    display: block;
    margin: 30px auto;
    width: fit-content;
}
.details{
    height: 210px;
    width: 400px;
    margin-left: -5px;
    border-radius: 0 0 20px 20px;
    background-color:#FFE6A5;
    border: 5px double #664900;

}
.product-name{
    font-size: 30px;
    text-align: center;
}
.price{
    text-align: center;
    font-size: 25px;
    margin-top: -10px;
}
.incdec-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}
.incdec-img{
    height: 40px;
    width: 40px;
    margin: auto 15px;
    cursor: pointer;
}
.num{
   font-size: 35px;
}